<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cjgreen.cafenow_app">

    <application
        android:theme="@style/AppTheme"
        android:supportsRtl="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="CafeNow_App"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true">

        <activity android:name=".SearchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".IntroActivity"> </activity>
        <activity android:name=".OrderFormActivity"> </activity>
        <activity android:name=".CabinetActivity"> </activity>
        <activity android:name=".OrderProcessActivity"> </activity>
        <activity android:name=".OrderCompleteActivity"> </activity>
        <activity android:name=".OrderConfirmActivity"> </activity>

    </application>

</manifest>